**/bin/
**/obj/
**/node_modules/
**/dist/
**/*.tsbuildinfo
**/vite.config.js
**/vite.config.d.ts
**/App_Data/*.db-shm
**/App_Data/*.db-wal
**/App_Data/*.db
artifacts/
coverage/
TestResults/
.vs/
.vscode/*.local.json
.env
.env.*
!.env.example
